body {
    font-family: 'Inter', sans-serif;
    overflow: hidden; /* Evita scroll na página inteira */
}

#map-container {
    height: 100%; 
}

#map {
    height: 100%;
    width: 100%;
    background-color: #e5e7eb; 
}

#status-overlay {
    opacity: 0;
}
#status-overlay.show {
    opacity: 1;
}

#sync-status-bar.syncing {
    background-color: #3b82f6; /* Azul */
    transform: translateY(0);
}
#sync-status-bar.success {
    background-color: #16a34a; /* Verde */
    transform: translateY(0);
}
#sync-status-bar.warning {
    background-color: #f97316; /* Laranja */
    transform: translateY(0);
}

#info-modal.show {
    transform: translateY(0);
}

.select-placeholder {
    text-align: center;
    color: #6b7280; /* Cor cinza para o placeholder */
}

/* NOVO: Garante que o dropdown flutuante tenha fundo branco */
#controls-container select {
    background-color: white;
}